/* Container Styles */
.container {
   max-width: 100%;
   /* background-color: #f5c518; */
   color: #fff;
   padding: 2rem 0rem;
}

/* Hero Section */
.hero {
   width: 94%;
   display: flex;
   margin: auto;
   margin-bottom: 3rem;
   padding: 1rem 1rem;
   background: #06223e19;
   border-radius: 5px;
   gap: 2rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
   flex-direction: row; /* Default layout */
}

.heroImage {
   flex: 1;
   width: 100%;
   max-width: 300px;
   border-radius: 5px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
   object-fit: cover;
}

.overlay {
   flex: 1;
}

.detailsContainer {
   color: #ddd;
}

.title {
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 1rem;
   color: #188af5; /* IMDb yellow */
}

.meta {
   margin-bottom: 1.5rem;
   font-size: 1.1rem;
}

.meta p {
   margin: 0.5rem 0;
}

.plot {
   margin: 1rem 0;
   font-size: 1.1rem;
}

/* Similar Movies Section */
.similarMovies {
   width: 94%;
   display: flex;
   margin: auto;
   margin-top: 3rem;
}

.similarMoviesContainer {
   max-width: 100%;
   margin: 0 auto;
}

.similarTitle {
   font-size: 2rem;
   color: #fff;
   font-weight: bold;
   margin-bottom: 1rem;
}

.similarMovieCards {
   display: flex;
   gap: 1rem;
   overflow-x: auto;
   padding: 1.5rem;
   flex-wrap: wrap;
   justify-content: space-around;
}

.loader {
   color: #fff;
   font-size: 2rem;
   text-align: center;
   margin-top: 2rem;
}

/* Responsive Design */

/* Mobile Portrait (Up to 768px) */
@media (max-width: 768px) {
   /* Hero section fixes for mobile */
   .hero {
      flex-direction: column; /* Stack movie poster and details vertically */
      gap: 1rem;
      align-items: center; /* Center the content */
   }

   .heroImage {
      max-width: 250px; /* Adjust poster width */
      margin-bottom: 1rem; /* Space between poster and details */
   }

   .overlay {
      text-align: center; /* Center align text for smaller screens */
   }

   .title {
      font-size: 2rem; /* Adjust font size */
   }

   .meta {
      font-size: 1rem;
   }

   .plot {
      font-size: 1rem;
   }
}

/* Tablets and Landscape (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
   .hero {
      flex-direction: row;
      align-items: center;
   }

   .heroImage {
      max-width: 300px;
   }

   .title {
      font-size: 2.5rem;
   }
}

@media (max-width: 480px) {
   .title {
      font-size: 1.8rem;
   }

   .meta {
      font-size: 0.9rem;
   }

   .plot {
      font-size: 1rem;
   }
}
